# create a separate file for env.production and env.staging or just .env by default
# use "mode" to detect which environment to use if: production || staging   

VITE_APP_SERVER_URI=/
VITE_APP_NAME=Vite Template