# create a separate file for env.production and env.staging or just .env by default
# use "mode" to detect which environment to use if: production || staging   

VITE_APP_SERVER_URI=/
VITE_APP_NAME=Vite Template

# 1 = available; 0 = not available
VITE_APP_WORK_STATUS=1

# SOCIALS
VITE_APP_LOCATION=
VITE_APP_GITHUB=
VITE_APP_LINKEDIN=
VITE_APP_EMAIL=
VITE_APP_PHONE_QA=
VITE_APP_PHONE_PH=
VITE_APP_RESUME=

# API: EMAILJS
VITE_APP_EMAILJS_SERVICE_ID=
VITE_APP_EMAILJS_TEMPLATE_ID=
VITE_APP_EMAILJS_PUBLIC_KEY=